<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Cine Colombia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">🍿 Cartelera</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{ cartelera_html|safe }}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>